<h1>List of employees</h1>
<fieldset style="overflow: hidden">
  <form [formGroup]="employeeGroupForm" class="fieldset_reactive"

      formArrayName="employees"
      *ngFor="let employee of employeeFormArray.controls; let i = index;">
      <div [formGroupName]="i" >
        <input formControlName="name" placeholder="employee name">
        <input formControlName="lastName" placeholder="lastName" >
        <input formControlName="phone" placeholder="phone">
        <input formControlName="email" placeholder="email">
        <input formControlName="position" placeholder="position">
      </div>

  </form>

</fieldset>
  <button type="submit" [disabled]="employeeGroupForm.valid"
          (click)="Submit()">Submit
  </button>
