.fieldset_reactive {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  align-items: center;
  justify-content: center;
}

input {
  margin-left: 10px;
  margin-bottom: 10px;
  width: 150px;
}
