.fieldset_reactive {
  display: flex;
  width: auto;
  height: 250px;
  align-items: center;
  justify-content: center;
}

input {
  margin-left: 10px;
  margin-bottom: 10px;
  width: 150px;
}
h1 {
  text-align: center;
}

.reactive_main {
  display: flex;
  justify-content: center;
}
button {
  float: right;
  animation: cssAnimation 0s 20s forwards;
  opacity: 0;

}

@keyframes cssAnimation {
  to   { opacity: 1; }
}

table {
  width: 65%;
  margin: 20px 10px 30px 5px;
}

b {
  color: brown;
}


.disable {
  display: none;
}
/*input:invalid {*/
/*  border: 2px dashed red;*/
/*}*/

/*input:invalid:required {*/
/*  background-image: linear-gradient(to right, pink, lightgreen);*/
/*}*/

/*input:valid {*/
/*  border: 2px solid black;*/
/*}*/
